<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <% if(user) {%>
      <a href="/logout" class="float_right"><button>로그아웃</button></a>
      <a href="/users/<%= user._id %>" class="float_right"><button><%= user.nickname %> 정보 보기</button></a>
    <% } else { %>
        <a href="/login" class="float_right"><button>로그인</button></a>
        <a href="/users/new" class="float_right"><button>회원 가입</button></a>
    <% } %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="posts">
    <% include partials/top %>
<!-- main start-->

<!-- views/posts/index.ejs -->
<div class="index">
  <a href="/posts/new"><button>글쓰기</button></a>
  <ul>
      <li class="header"> 제목 <span>작성일</span></li>
    <% data.forEach(function(e){ %>
      <li>
        <a href="/posts/<%= e._id %>"><%= e.title %></a>
        <span><%= e.createdAt.toLocaleDateString() %></span>
      </li>
    <% }) %>
  </ul>
</div>

<!-- main end -->
    </div><!--posts end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
