<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="posts">
    <% include partials/top %>
<!-- main start-->

<!-- views/posts/show.ejs -->
<div class="show">
  <h3><%= data.title %></h3>
  <div class="time">작성일 <br>
    <%= data.createdAt.toLocaleDateString() %> <br>
    <%= data.createdAt.toLocaleTimeString() %>
  </div>
  <% if(data.updatedAt) { %>
    <div class="time">수정일 <br>
      <%= data.updatedAt.toLocaleDateString() %> <br>
      <%= data.updatedAt.toLocaleTimeString() %>
    </div>
  <% } %>
  <p class="body"><%= data.body %><p>
  <div class="tools">
    <a href="/posts/<%=data._id%>/edit"><button>수정하기</button></a>
    <!-- Delete button here -->
    <form class="btn_delete" action="/posts/<%=data._id%>?_method=delete" method="post">
      <button type="submit">글 삭제</button>
    </form>
  </div>
  <a href="/posts"><button>뒤로가기</button>
</div>

<!-- main end -->
    </div><!--posts end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
